<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body style="font-family:system-ui">
    <div>
        <table align="center">
            <tr>
                <td>
                    <table style="background-color:#0d494c" width="500px" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td height="43" align="center">
                                                    <h1 style="color:#fff; line-height:1rem;">{{title}}</h1>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width:500px; background:azure;" align="center">
                        <tbody>
                            <tr>
                                <td style="padding:20px 20px 0px 20px;" align="left">
                                    <p style="text-align:justify; margin-top:0px;">
                                       You are receiving this message because you recently signed up for a <br /> <b><em>Riddhi Siddhi Technology</em></b>.
                                       Confirm your email address by clicking the button below. This step adds extra security to your business by verifying you own this email.
                                    </p>
                                    <div style="text-align:center; margin-top:30px; margin-bottom:30px;">
                                        <a href="{{callbackUrl}}" style="background-color:blue;color:white;padding:8px 15px; text-decoration:none; border-radius:10px;">Confirm Email Address</a>
                                    </div>
                                    <p style="text-align:center; margin-top:0px;">This link will expire in <b style="color:red;"><i>24 hours</i></b></p>
                                    <div style="text-align:center">
                                        <a href="https://www.facebook.com/sunilpandey9454" target="_blank"><img title="Facebook" src="https://stripo.email/static/assets/img/social-icons/logo-colored/facebook-logo-colored.png" alt="Facebook" style="width:30px; height:30px;"></a>
                                        <a href="https://www.instagram.com/sunilpandey9454/" target="_blank"><img title="Instagram" src="https://stripo.email/static/assets/img/social-icons/logo-colored/instagram-logo-colored.png" alt="Instagram" style="width:30px; height:30px;"></a>
                                        <a href="https://www.youtube.com/c/rst9454" target="_blank"><img title="Youtube" src="https://stripo.email/static/assets/img/social-icons/logo-colored/youtube-logo-colored.png" alt="Youtube" style="width:30px; height:30px;"></a>
                                        <a href="https://www.linkedin.com/in/sunilpandey9454" target="_blank"><img title="Linkedin" src="https://stripo.email/static/assets/img/social-icons/logo-colored/linkedin-logo-colored.png" alt="Linkedin" style="width:30px; height:30px;"></a>
                                        <a href="https://t.me/rst9454" target="_blank"><img title="Telegram" src="https://stripo.email/static/assets/img/messenger-icons/logo-colored/telegram-logo-colored.png" alt="Telegram" style="width:30px; height:30px;"></a>
                                        <a href="https://github.com/rst9454" target="_blank"><img title="GitHub" src="https://stripo.email/static/assets/img/other-icons/logo-colored/github-logo-colored.png" alt="GitHub" style="width:30px; height:30px;"></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>