<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <div>
        <table align="center">
            <tr>
                <td>
                    <table style="background-color:darkcyan; width:500px;" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <h1 style="text-align:center; color:white;">{{title}}</h1>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="background-color:azure;width:500px;" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <h1 style="text-align:center;font-size:large;">
                                        Congratulations! You're
                                        registered.'
                                    </h1>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left:20px;">
                                    <p style="margin-bottom:0px;">Hi <b><i>{{Username}}</i></b>,</p><br />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left:20px;">
                                    <p style="text-align:justify;margin-top:0px;">
                                        Dear <b><i>{{Username}}</i></b>, Thank you for showing your interest in our
                                        web application and you're authorized to access the web application.
                                    </p>
                                    <div>
                                        Now click then login <a href="{{url}}"
                                                                style="background-color:blue;color:white;padding:8px 15px; text-decoration:none;border-radius:10px;">LogIn</a>
                                    </div>
                                    <p>
                                        <b>
                                            Thanks<br />
                                            Sunil Pandey<br />
                                            9454XXXXXX
                                        </b>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>